/* style.css */

.garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

p {
    font-size:24px; 
}

h1 {
    font-size: 36px; 
}

body {
    background-color: #fcd75c; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent_container {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex; 
}

.image_background {
    background-image: url('https://assets-cdn.vam.ac.uk/2017/12/15/10/36/11/3f06a23d-8da9-48c4-892e-d781231d8b7c/1280.jpg');
    background-size: cover;
    background-position: center;
    flex: 1; /* Take remaining space */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.transparent_container {
    position: absolute;
    left: 0%;
    top: 20%;
    width: 40%;
    height: 20%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
}

.text_container {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 60%;
    height: 40%;
    background: rgb(255, 249, 215);
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0 10%; /* Add padding at the sides */
    box-sizing: border-box; /* Include padding in the width calculation */
}

form {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%; 
    background-color: white;
    padding: 0px;
    border-radius: 0px;    
    font-size: 18px; 
}

.form_fields {
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1; 
    margin-right: 10px; 
    margin-left: 5px;
}

label {
    display: block;
    margin-bottom: 1px; 
}

input[type="text"] {
    margin-bottom: 30px; 
}

.bottom_container {
    position: absolute;
    right: 0%;
    top: 40%;
    width: 60%;
    height: 60%; 
    background: rgb(255, 249, 215);
}


button {
    border-radius: 10px; 
    background-color: #ff5e00;
    color: white;
    padding: 10px 20px;
    border:rgb(255, 102, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3300; 
}